/*body {
  background-color: black;
}*/

/*TEMPORARY BACKGROUND COLOR CHANGE - THIS IS TO DEBUG THE FONT*/

p {
  color: #eeeeee;
  font-size: 28px;
  line-height: 0px;
  font-family: "Open Sans";
}

h3 {
  color: #eeeeee;
  font-size: 46px;
  line-height: 0px;
  font-family: "Open Sans";
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 50%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}